.favorite-team img {
	display:block;
	max-width:100%;
	margin:0 auto 1em;
}
.favorite-team {
	text-align: center;
}
.favorite-team h1 {
	text-align: left;
}
.favorite-team p {
	margin:0 0 1em;
}
.favorite-team .group {
}
.match {
	position: relative;
}
.match img {
	width:35px;
	display:inline;
	margin: 0 0.75em;
}
.match .score {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	font-size: 2.5em;
	margin:0;
	color: #fff;
	text-shadow: #000 1px 1px 10px, #000 1px 1px 10px, #000 1px 1px 10px;
}
.worldcup-widget-class .player {
	position: relative;
	margin-bottom: 0.5em;
	padding-bottom: 0.5em;
	border-bottom: 1px solid #222;
}
.worldcup-widget-class .player .goal-count {
	position: absolute;
	top: 5px;
	right: 12px;
	display: block;
	z-index: 10;
	font-weight: bold;
	color: #FFF;
	text-shadow: #000 1px 1px 10px, #000 1px 1px 10px, #000 1px 1px 10px;
	font-size: 1.5em;
}
.worldcup-widget-class .player .profile {
	max-width: 25%;
	width:41px;
	border-radius: 50%;
	box-shadow: 1px 1px 0 0 rgba(100,100,100,0.8);
	margin-right: 5%;
	position: relative;
	z-index: 10;
	top: 0.4em;
	left: 2em;
}
.top-scorers > img {
	margin:0 auto;
	display:block;
}
.worldcup-widget-class .player .nationality {
	display:none;
}
.worldcup-widget-class .player .nickname {
	margin-left: 1.5em;
	vertical-align: top;
	position: relative;
	top: 1em;
}
.worldcup-widget-class .player .flag {
	position:absolute;
	top: 4px;
	left: -2px;
	max-width: 20%;
	z-index: 5;
	width: 48px;
}
.worldcup-widget-class .player .extra-stats {
	display:none;
}
.worldcup-widget-class .group-rank {
	float:left;
	background:#fff;
	display:block;
	border-radius: 50%;
	width:16px;
	height:16px;
	text-align: center;
	top:2.2em;
	color:#000;
	box-shadow: 1px 1px 0 0 rgba(100,100,100,0.8);
	position:absolute;
	margin-bottom:0;
}
.worldcup-widget-class .team {
	position: relative;
}
.worldcup-widget-class .team .country img {
	margin-right:1em;
	margin-bottom:0;
}
.worldcup-widget-class .team .country {
	font-weight:bold;
	margin-bottom:0;
	font-size:1.25em;
}
.worldcup-widget-class .team .record {
	text-align: left;
	font-size:1.1em;
}
.worldcup-widget-class .team .totals {
	text-align: center;
	font-size:1.2em;
	display: block;
	font-weight:bold;
}
/*
.theme-dark .match .score {
	color:#e7e8b0;
}
.theme-dark .match.winner .score {
	color:#12c224;
}
.theme-dark .match.loser .score {
	color:#ff7e79;
}
*/
.theme-dark.favorite-team {
	color:#fff;
	background:rgba(0,0,0,0.75);
	padding:1em;
}
.theme-dark h1, .theme-dark h2, .theme-dark h3, .theme-dark h4 {
	color:#fff;
}
.theme-dark .match {
	color:#fff;
}
.theme-dark .match.completed {
	color:#888;
}